@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,800;1,600;1,700;1,800&family=Poppins:wght@200;400;600&family=Raleway:ital,wght@0,500;0,700;0,800;0,900;1,600;1,700&display=swap');

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

span{
    color: hsl(229, 6%, 66%);
    font-weight: 200;
}

.artificial{
    color: hsl(229, 6%, 66%);
    text-align: center;
}

.contents p{
    color: hsl(229, 6%, 66%);
}

.contents{
    display: flex;
    flex-direction: row;
     align-items: center;
     justify-content: center;
     font-size: 15px;
     gap: 20px;
}

.middle{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.right{
    display: flex;
    flex-direction: column;
    border-top: 4px solid  hsl(180, 62%, 55%);
    gap: 40px;
    padding: 0px 10px 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.left{
    display: flex;
    flex-direction: column;
    border-top: 4px solid hsl(212, 86%, 64%);
    gap: 40px;
    padding: 0px 10px 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.top{
    display: flex;
    flex-direction: column;
    border-top: 4px solid hsl(0, 78%, 62%);
    gap: 40px;
    padding: 0px 10px 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.bottom{
    display: flex;
    flex-direction: column;
    border-top: 4px solid hsl(34, 97%, 64%);
    gap: 40px;
    padding: 0px 10px 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.top,.right,.left,.bottom{
    height: fit-content;
    width: 15rem;
    background-color: whitesmoke;
}

h3{
    padding: 10px 10px 0px 20px;
    margin: 0%;
}

.contents p{
    padding: 10px 10px 0px 20px;
    font-size: 10px;
    margin: 0%;
}

.rightimg,.topimg,.bottomimg,.leftimg{
    display: flex;
    justify-content: end;
}

img{
    height: 40px;
    
}

@media ((min-width: 400px) and (max-width: 700px)){
    .text {
        text-align: center
    }
    main{
        overflow: hidden;
        padding: 0px 10px;
        margin: 50px 0px 50px 0px;
    }
    .contents{
        flex-direction: column;
    }
    
}